
body {
	overflow-x: hidden;
	line-height: 0;
}

.container-fluid .jumbotron {
	border-radius: 0px;
}

.bg {
	background-color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sidebar {
	z-index: 10;
	font-family: 'Lato';
	position: fixed;
	top: 0%;
	left: 0%;
	width: 20%;
	height: 100%;
	padding: 4% 0 0 0;
	line-height: 200%;
	background-color: #3491D3;
}

.sidebar img {
	margin:0 0 60px 0;
	padding: 0 0 0 0; 
}

a {
	color:white;
}

h1 {
	font-family: "Ubuntu";
	margin: 10% 0 10% 0;
}
.container {
	margin-right: 0px;
}

.container-fluid {
	padding-right: 0px;
	margin: 0 0 0 18%;
	
}
.container img {
	margin: 0px;
}

.main {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.42857143;
}

.post-content{
	text-shadow: 5px 5px 5px #000000;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	background-color: transparent;
	color: white;
	top: 30%;
	left: 30%;
	position: absolute;
	font-family: "Ubuntu";
}
.sub {
	background-color: #3491D3;
}

p {
	color: white;
	padding: 5% 5% 5% 5%;
}
/*forms*/
.form-group {
	text-align:center;
	padding:3px 5px 0px 10px;
	margin-bottom:100px;
	background-color:#3491D3;
}
.form-control{
	font-color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 0px;
}
/*ICONS*/
.social {
	margin-top: 25%;
}
.social i {
	margin-right: 10px;
}

.grow {
	transition: all .2s ease-in-out;
}

.fa-twitter-square:hover:before {
	color: rgba(0, 172, 237, 1);
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}

.fa-facebook-square:hover:before {
	color: rgba(59, 89, 152, 1);
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}

.fa-github-square:hover:before {
	color: black;
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}

.caption.post-content.responsive.jumbotron {
	display: block;
	top:10%;
}